{%extends "layout.html"%}
{%block content%}
<section class="banner">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Multistability.svg/1200px-Multistability.svg.png" style = "height:500px ;margin-top:10px;" alt="" class="bannerimg">
  <div class="bannercontent">PSYCHE</div>
</section>

<div class="bg-light p-5 rounded-lg m-3" style="margin-right:20000px;text-align: justify;">
    <h1 class="display-4">Psyche</h1>
    <p class="lead">I.A Psycoterapeutica</p>
    <hr class="my-4">
    <p>Psyche es una Inteligencia Artificial con la cual puedes interactuar por medio de un chat, manteniendo una conversación que 
      esperamos sea de gran ayuda y de tu agrado. El objetivo principal de Psyche es ser un soporte en el que te puedas apoyar en cualquier momento que lo requieras,
      siendo lo más amable y comprensivo ante la situación en la que te encuentres.
    </p>
    <p>Cabe resaltar que ninguna de las personas implicadas en el proyecto tiene conocimientos profesionales en el tema de la psicoterapia,
      dando solo unos consejos para sobrellevar una situación de estres o pánico para las personas que no tengan la facilidad inmediata de 
      que alguien les escuche o aconseje. Por lo anteriormente mencionado NO se puede tomar como un tratamiento.
    </p>
  </div>

  <footer class="main-footer">
    <div class="container container--flex">
      <div class="column column--33">
        <h2 class="columntitle">¿Porque usar Psyche?</h2>
        <p class="columntxt">Es un ayudante que tendras a tu disposición en cualquier momento, pudiendo mantener una conversación y colaborando en
          sobrellevar la situación en la que te encuentres.
        </p>
        </div>
      <div class="column column--33">
        <h2 class="columntitle">Contáctanos</h2>
        <p class="columntxt">Bogotá D.C.</p>
        <p class="columntxt">2021</p>
        <p class="columntxt">pysche@unal.edu.co</p>
      </div>
      <div class="column column--33">
        <h2 class="columntitle">Mas Información en</h2>
        <p class="columntxt"><a href="" class="icon-facebook">Facebook</a></p>
        <p class="columntxt"><a href="" class="icon-twitter">Twitter</a></p>
        <p class="columntxt"><a href="" class="icon-youtube">YouTube</a></p>
      </div>
      <p class="copy">© 2021 Psyche | Todos los Derechos Reservados</p>
    </div>
  </footer>


{%endblock%}